<div data-bc-sm-tabs>
  <div data-bc-sm-tab-buttons>
    <button data-bc-sm-tab-button="sm-design-tab" data-bc-sm-tab-button-mode="active" data-sys-sm-active-tab="">Design</button>
    <button data-bc-sm-tab-button="sm-form-tab" data-bc-sm-tab-button-mode="">Form Preview</button>
    <button data-bc-sm-tab-button="sm-json-tab" data-bc-sm-tab-button-mode="">Json Preview</button>
  </div>
  <div data-bc-sm-tab-content data-sys-border-color="">
    <section data-bc-sm-tab-section="sm-design-tab" data-bc-sm-tab-section-mode="active">
      <div data-bc-sm-tab-section-content data-bc-sm-tab-section-top>
        <div data-bc-sm-requirements>
          <div data-bc-question="">
            <div data-bc-title="" data-sys-text="">Schema Name :</div>
            <div data-bc-answer="">
              <input type="text" data-bc-sm-schema-name data-sys-input-text="" />
            </div>
          </div>
          <div data-bc-question="">
            <div data-bc-title="" data-sys-text="">Language :</div>
            <div data-bc-answer="">
              <select data-bc-sm-schema-language data-sys-select-option="" >
                <option value="1">فارسی</option>
                <option value="2">English</option>
              </select>
            </div>
          </div>
          <div data-bc-question="">
            <div data-bc-title="" data-sys-text="">Schema Version :</div>
            <div data-bc-answer="">
              <input type="text" data-bc-sm-schema-version data-sys-input-text="" disabled />
            </div>
          </div>
        </div>
        <div>
          <div data-bc-sm-board data-drop-acceptable-container-schema-type="section question" data-sys-sm-board=""></div>
        </div>
      </div>
      <div data-get-btns>
        <button data-get-btn data-bc-sm-schema-result data-sys-button="">Preview</button>
        <!-- <button data-get-btn data-bc-sm-save-draft>Save as Draft</button> -->
        <!-- <button data-get-btn data-bc-sm-load-draft>Load Draft</button> -->
      </div>
    </section>
    <section data-bc-sm-tab-section="sm-form-tab" data-bc-sm-tab-section-mode="">
      <div data-bc-sm-tab-section-content>
        <div data-get-schema-preview data-sys-sm-board="">
          <basis core="schema" run="atclient" schemaCallback="getSchemaAsync" id="1161" version="1.1" triggers=""></basis>
          <script data-bc-sm-script type="text/javascript">
            async function getSchemaAsync(context, id, ver, lid) {
              const source = context.tryToGetSource("@internalSourceId");
              return source?.rows[0];
            }
          </script>
        </div>
      </div>
    </section>
    <section data-bc-sm-tab-section="sm-json-tab" data-bc-sm-tab-section-mode="">
      <div data-bc-sm-tab-section-content data-bc-sm-tab-section-top>
        <pre class="language-json" data-get-json-preview><code class="language-json" data-bc-sm-preview-json></code></pre>
        <div data-get-json-for-download></div>
      </div>
      <div data-get-btns>
        <button data-get-btn data-bc-sm-json-copy data-sys-button="">Copy Json</button>
        <button data-get-btn data-bc-sm-json-download data-get-btn-disabled="true" data-sys-button="">Download Json</button>
        <button data-get-btn data-bc-sm-save-form data-get-btn-disabled="true" data-sys-button="">Save Form</button>
      </div>
    </section>
  </div>
</div>