<div data-bc-sm-tabs>
  <div data-bc-sm-tab-buttons>
    <button data-bc-sm-tab-button="sm-design-tab" data-bc-sm-tab-button-mode="active" data-sys-sm-active-tab="">Design</button>
    <button data-bc-sm-tab-button="sm-form-tab" data-bc-sm-tab-button-mode="">Form Preview</button>
    <button data-bc-sm-tab-button="sm-json-tab" data-bc-sm-tab-button-mode="">Json Preview</button>
  </div>
  <div data-bc-sm-tab-content data-sys-border-color="">
    <section data-bc-sm-tab-section="sm-design-tab" data-bc-sm-tab-section-mode="active">
      <div data-bc-sm-tab-section-content data-bc-sm-tab-section-top>
        <div data-bc-sm-requirements>
          <div data-bc-question="" data-bc-sm-object-type>
            <div data-bc-title="" data-sys-text="">Object Type :</div>
            <div data-bc-answer="">
              <select data-bc-sm-schema-object-type-select data-sys-select-option=""></select>
            </div>
          </div>
          <div data-bc-question="" data-bc-sm-schema-group>
            <div data-bc-title="" data-sys-text="">group :</div>
            <div data-bc-answer="" data-bc-sm-schema-group-child data-load="active">
              <select data-bc-sm-schema-group-select data-sys-select-option="" disabled></select>
            </div>
          </div>
          <div data-details ><Basis core="schema" run="atclient" schemaUrl="/server" paramUrl="/details" displayMode="new" button="[data-get-btn]" resultSourceId="details.data">  
          </div>
        </div>
        <div>
          <div data-bc-sm-board data-drop-acceptable-container-schema-type="section question" data-sys-sm-board=""></div>
      </div>
      <div data-get-btns>
        <button data-get-btn data-bc-sm-schema-result data-sys-button="">پیش نمایش</button>
        <!-- <button data-get-btn data-bc-sm-save-draft>Save as Draft</button> -->
        <!-- <button data-get-btn data-bc-sm-load-draft>Load Draft</button> -->
      </div>
    </section>
    <section data-bc-sm-tab-section="sm-form-tab" data-bc-sm-tab-section-mode="">
      <div data-bc-sm-tab-section-content>
        <div data-get-schema-preview data-sys-sm-board="">
          <basis core="schema" run="atclient" schemaCallback="getSchemaAsync" id="1161" version="1.1" triggers=""></basis>
          <script data-bc-sm-script type="text/javascript">
            async function getSchemaAsync(context, id, ver, lid) {
              const source = context.tryToGetSource("@internalSourceId");
              return source?.rows[0];
            }
          </script>
        </div>
      </div>
    </section>
    <section data-bc-sm-tab-section="sm-json-tab" data-bc-sm-tab-section-mode="">
      <div data-bc-sm-tab-section-content data-bc-sm-tab-section-top>
        <pre class="language-json" data-get-json-preview>
          <div data-get-edit-json contenteditable="true"></div>
          <div data-get-edit-error></div>
          <code class="language-json" data-bc-sm-preview-json></code>
        </pre>
        <div data-get-json-for-download></div>
      </div>
      <div data-get-btns>
        <button data-get-btn data-bc-sm-json-copy data-sys-button="">کپی جیسون</button>
        <button data-get-btn data-bc-sm-json-download data-get-btn-disabled="true" data-sys-button="">دانلود جیسون</button>
        <button data-get-btn data-bc-sm-save-form data-get-btn-disabled="true" data-sys-button="">ذخیره فرم</button>
        <button data-get-btn data-bc-sm-edit-form data-get-btn-disabled="true" data-sys-button="">ویرایش جیسون</button>
        <button data-get-btn data-bc-sm-save-json-form data-bc-sm-display-none data-sys-button="">ذخیره جیسون</button>
        <button data-get-btn data-bc-sm-cancel-save-form data-bc-sm-display-none data-sys-button="">انصراف</button>
      </div>
    </section>
  </div>
</div>