<div data-bc-sm-container>
  <basis core="component.schemaMaker.toolbox" run="atclient" dataMemberName=""></basis>
  <div data-bc-sm-parent>
    <div data-bc-sm-requirements>
      <div data-bc-question="">
        <div data-bc-title="">Schema Name :</div>
        <div data-bc-answer="">
          <input type="text" />
        </div>
      </div>
      <div data-bc-question="">
        <div data-bc-title="">Schema Version :</div>
        <div data-bc-answer="">
          <input type="text" />
        </div>
      </div>
      <div data-bc-question="">
        <div data-bc-title="">Language :</div>
        <div data-bc-answer="">
          <select>
            <option value="1">فارسی</option>
            <option value="2">English</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <basis core="component.schemaMaker.workspace" run="atclient" dataMemberName=""></basis>
    </div>
  </div>
  <basis core="component.schemaMaker.property_box" run="atclient" dataMemberName=""></basis>
</div>