<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Maker Command - Zero Config</title>
</head>

<body dir="rtl">

    <Basis core="component.schemaMaker.schemaMaker" run="atclient" options="options">
    </Basis>
    <script>
        const host = {
            repositories: {
                "schemaMaker": "/basiscore.schemaMaker.component.js",
            },
        };
    </script>
    <script src="/assets/basiscore/basiscore.js"></script>
</body>

</html>