<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schema Maker Command - Zero Config</title>
  </head>

  <body dir="rtl">
    <Basis
      core="api"
      url="/server/schemas/[##inline.object.id##]"
      method="get"
      run="atclient"
    >
    </Basis>
    <Basis
      core="component.schemaMaker.schemaMaker"
      run="atclient"
      dataMemberName="schema.data"
    >
    </Basis>

    <script>
      const host = {
        repositories: {
          schemaMaker: "/basiscore.schemaMaker.component.js",
        },
        sources: {
          "inline.object": [{ id: 1161 }],
        },
      };
    </script>
    <script src="/assets/basiscore/basiscore.js"></script>
  </body>
</html>
