<fieldset>
    <legend>
        Base
    </legend>
    <ul data-bc-toolbox-list>
        <li>
            <div data-bc-toolbox-item draggable="true" id="1" data-type="question">Question</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="2" data-type="group">Group</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="short-text">ShortText</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="long-text">LongText</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="autocomplete">Autocomplete
            </div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="select">Select</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="checklist">Checklist</div>
        </li>
        <li>
            <div data-bc-toolbox-item>No Dragable</div>
        </li>
    </ul>
</fieldset>