<fieldset>
    <legend>
        Toolbox
    </legend>
    <ul data-bc-toolbox-list>
        <li>
            <div data-bc-toolbox-item draggable="true" id="2" data-type="group">Group</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="1" data-type="question">Question</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="short-text">ShortText</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="long-text">LongText</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="auto-complete">Autocomplete
            </div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="select">Select</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="input" data-class="check-list">Checklist</div>
        </li>
    </ul>
</fieldset>