<fieldset>
    <legend>
        Base
    </legend>
    <ul data-bc-toolbox-list>
        <li>
            <div data-bc-toolbox-item draggable="true" id="1" data-type="question">Question</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="2" data-type="group">Group</div>
        </li>
        <li>
            <div data-bc-toolbox-item draggable="true" id="3" data-type="devider">Devider</div>
        </li>
        <li>
            <div data-bc-toolbox-item>No Dragable</div>
        </li>
    </ul>
</fieldset>