[data-button] {
  margin-bottom: 5px;
  position: relative;
  width: max-content;
}

[data-button] [data-btn-item] {
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  color: #fff;

  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* transition: all 0.5s ease; */
}

/* [data-button] [data-btn-item][data-btn-control] {
  background-image: url("control.png");
  background-color: #ffb629;
  border-color: #ffb629;
  position: relative;
  z-index: 4;
} */

[data-button] [data-btn-item][data-bc-handler] {
  background-image: url("handler.png");
  background-color: #0293e2;
  border-color: #0293e2;
  /* opacity: 0; */
  /* z-index: 3; */
}

/* [data-button]:hover [data-btn-item][data-bc-handler] {
  left: 30px;
  opacity: 1;
} */

[data-button] [data-btn-item][data-btn-remove] {
  background-image: url("remove.png");
  background-color: #d73027;
  border-color: #d73027;
  /* opacity: 0; */
  /* z-index: 2; */
}

/* [data-button]:hover [data-btn-item][data-btn-remove] {
  left: 60px;
  opacity: 1;
} */

[data-button] [data-btn-item][data-btn-setting] {
  background-image: url("setting.png");
  background-color: #a886ca;
  border-color: #a886ca;
  /* opacity: 0; */
  /* z-index: 1; */
}

/* [data-button]:hover [data-btn-item][data-btn-setting] {
  left: 90px;
  opacity: 1;
} */

[data-bc-sm-board] [data-drop-acceptable-type] {
  min-height: 50px;
}



































