<div data-bc-properties-container="" data-bc-properties-mode="">
  <div data-bc-properties-container-icon>
    <span>Properties</span>
    <img src="/assets/images/properties.png" data-bc-properties-icon>
  </div>
  <div data-bc-properties-list>
    <basis core="schema" run="atClient" dataMemberName="SchemaMakerComponent_PropertyBoxComponent.question" schemaCallback="getSchemaAsync" button="[data-btn-add]" resultSourceId="SchemaMakerComponent_PropertyBoxComponent.answer" viewMode="false"></basis>
    <button data-btn-add>Save</button>
  </div>
</div>