[data-bc-sm-board] [data-input] {
  pointer-events: none;
}

[data-bc-sm-question-module] input[type="date"][data-input] {
  padding: 0.1em 0.4em;
  display: inline-block;
  border: 1px solid #c7d6db;
  background: #f5f8f9;
  border-radius: 4px;
  transition: border 0.3s linear 0s;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  color: #555;
  height: 30px;
}

[data-bc-sm-question-module] input[type="date"][data-input]:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
  background: #fff8ee;
}